@import "tailwindcss";

body {
  background-color: #edecec
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.animate-fadeInSlow {
  animation: fadeInSlow 0.6s ease-out forwards;
}



@keyframes leftInertiaIn {
  0% {
    transform: translateX(-150%) scale(0.9);
    opacity: 0;
  }

  60% {
    transform: translateX(10px) scale(1.05);
    opacity: 1;
  }

  80% {
    transform: translateX(-5px) scale(0.98);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes trophyCelebrate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  20% {
    transform: scale(1.3) rotate(-12deg);
  }

  40% {
    transform: scale(1.25) rotate(12deg);
  }

  60% {
    transform: scale(1.15) rotate(-6deg);
  }

  80% {
    transform: scale(1.1) rotate(6deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.animate-leftInertiaIn {
  animation: leftInertiaIn 0.9s cubic-bezier(0.8, 0, 0.2, 1) forwards;
}

.animate-trophyCelebrate {
  animation: trophyCelebrate 1.2s ease-out 0.9s forwards;
}